/* UNIVERSAL STYLES START */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* UNIVERSAL STYLES END  */

/* GENERAL BODY STYLES START */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #c4c0ab;
  background-color: #192413;
}
/* GENERAL BODY STYLES START */

/* HEADER STYLES START */
/* apply styles to <header> */
header {
  background-image: url("./images/header.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px 35px;
  display: flex; /* default is row so no need to declare */
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky; /* used to target old versions of safari and chrome, added before the next style */
  position: sticky; /* this and top: 0 sticks header to the top and leaves it there as you scroll */
  z-index: 99; /* to prevent video from scrolling over header */
  top: 0;
  height: 120px;
}

header h1 {
  margin: 0;
  display: inline;
}

header h1 a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: #192413;
  text-decoration: none;
}

header h1 a span {
  color: rgba(243, 252, 241, 0.842);
  text-shadow: 0 0 10px #192413;
}

header nav {
  /* lines up the list to be inline with h1 */
  margin: 18px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none; /* removes markers bc it's a list */
}

header nav ul li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.5vw;
  text-decoration: none;
  background-color: #192413;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 0 7px;
}

/* changes what happens when you hover over each list and added in 2.4.6 */
header nav ul li a:hover {
  color: #192413;
  background-color: #c4c0ab;
  text-shadow: none;
  transition: all 0.6s ease-in-out;
}

header nav ul li a:not(:hover) {
  color: rgba(243, 252, 241, 0.842);
  transition: all 0.6s ease-in-out;
}
/* HEADER STYLES END */

/* STYLES FOR ME-ABOUT, RESUME, PROJECTS, LIFE, ME-INTERACT SECTIONS START */
.title {
  font-size: 25px;
  text-align: center;
  margin: auto;
  width: 20%;
  padding: 15px 0 10px 0;
  border-bottom: 2px solid #c4c0ab;
}
/* STYLES FOR ME-ABOUT, RESUME, PROJECTS, LIFE, ME-INTERACT SECTIONS END */

/* ABOUT-ME STYLES START */
.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

.description {
  text-align: center; /* why doesn't justify content work here lol --> bc used for containers */
  width: 500px;
  height: 500px;
  padding: 30px 35px;
}

.description p {
  font-size: 15px;
  text-align: justify;
  line-height: 1.7;
}

.description img {
  float: left;
  margin: 10px 20px 0 0;
}

.resume {
  width: 700px;
  padding: 30px 35px;
}
/* ABOUT-ME STYLES END

/* PROJECTS STYLES START */
.sites {
  font-size: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0;
}

.sites article {
  padding-top: 20px;
}

.badges {
  display: flex;
}

.runbuddy .photo:hover {
  content: url("images/runbuddy2.jpg");
  width: 600px;
}

.horiseon .photo:hover {
  content: url("images/horiseon2.jpg");
  width: 375px;
}

.robot .photo:hover {
  content: url("images/robot2.jpg");
  width: 333px;
}
/* PROJECT STYLES END */

/* LIFE STYLES START */
.hobbies {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
}

.doggos,
.plants,
.weightlifting,
.wood {
  text-align: center;
  padding: 10px 10px 20px 10px;
}

.weightlifting {
  width: 400px;
}

.wood {
  width: 600px;
}

.wood img:hover {
  content: url("images/wood1.jpg");
}
/* LIFE STYLES END */

/* INTERACT STYLES START */
.me-interact {
  background-image: url("images/header.jpg");
  background-size: cover;
  background-position: 30% 80%;
  background-attachment: fixed;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 30px 0;
}

.me-interact h2 {
  font-size: 35px;
  font-weight: none;
  text-align: right;
  background-color: #192413;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  padding: 14px 20px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fa-facebook-square {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.me-interact i {
  font-size: 38px;
  background-color: #192413;
  padding: 19px 30px;
}

.me-interact i:hover,
.me-interact h2:hover {
  color: #192413;
  background-color: #c4c0ab;
  transition: all 0.6s ease-in-out;
}

.me-interact i:not(:hover),
.me-interact h2:not(:hover) {
  color: rgba(243, 252, 241, 0.842);
  background-color: #192413;
  transition: all 0.6s ease-in-out;
}
/* INTERACT STYLES END */

/* FOOTER STYLES START */
footer {
  background-image: url("images/header.jpg");
  background-size: cover;
  background-position: 30% 80%;
  background-attachment: fixed;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
}

footer h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 35px;
  color: rgba(243, 252, 241, 0.842);
  text-align: center;
  text-shadow: 0 0 8px #192413;
  padding: 10px 0 20px 0;
}

footer div {
  display: flex;
  align-items: center;
}

footer img {
  padding: 0;
  filter: drop-shadow(0 0 8px rgba(236, 181, 129, 0.5));
}
/* FOOTER STYLES END */

/* MEDIA QUERIES */
/* If the screen size is 1115px wide or less, hide the element */
@media only screen and (max-width: 1250px) {
  /* ABOUT-ME STYLES */
  .content {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .description {
    width: 600px;
    height: 530px;
    padding-bottom: 0;
  }

  /* PROJECT AND LIFE STYLES */
  .sites,
  .hobbies {
    padding: 30px 0;
  }
}

@media only screen and (max-width: 900px) {
  /* HEADER STYLES */
  header {
    height: 140px;
    justify-content: center;
  }

  header h1 {
    margin: 0 40px;
  }

  /* INTERACT STYLES */
  .me-interact h2,
  .fa-facebook-square {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }

  .fa-envelope {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }
}

@media only screen and (max-width: 640px) {
  /* HEADER STYLES */
  header nav ul li a {
    font-size: 2.5vw;
  }

  /* STYLES FOR ALL SECTIONS */
  .title {
    width: 40%;
  }

  .photo {
    max-width: 490px;
  }

  /* ABOUT ME STYLES */
  .description p {
    height: 530px;
  }

  /* INTERACT STYLES */
  .me-interact h2 {
    font-size: 30px;
  }

  /* INTERACT AND FOOTER STYLES */
  .me-interact i,
  footer h2 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 550px) {
  .description {
    height: 580px;
  }
}

@media screen and (max-width: 490px) {
  /* HEADER STYLES */
  header {
    height: 165px;
    padding: 10px 35px;
  }

  header h1 a {
    font-size: 40px;
  }

  header nav {
    margin: 10px;
    justify-content: center;
  }

  header nav ul {
    justify-content: space-between;
  }

  header nav ul li {
    margin: 10px 7px;
  }

  header nav ul li a {
    font-size: 15px;
  }

  /* STYLES FOR ALL SECTIONS */
  .title {
    font-size: 20px;
    width: 40%;
    padding: 10px 0;
    border-bottom: 5px solid #c4c0ab;
  }

  .photo {
    width: 380px;
  }

  /* ABOUT ME STYLES */
  .description {
    height: 650px;
  }

  .content {
    padding: 0;
  }

  iframe {
    width: 100%;
    height: 400px;
  }

  /* PROJECT STYLES */
  .sites {
    padding: 30px 0 0 0;
  }

  .sites article {
    margin: 10px;
  }

  /* LIFE STYLES */
  .hobbies {
    font-size: 15px;
    padding: 30px 0 0 0;
  }

  /* INTERACT STYLES */
  .me-interact h2 {
    font-size: 30px;
  }

  .icons {
    padding: 0 10px;
  }

  .me-interact i {
    font-size: 35px;
  }

  /* FOOTER STYLES */
  footer h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 480px) {
  /* INTERACT STYLES */
  .fa-envelope {
    margin-left: 50px;
  }

  .fa-github {
    margin-right: 50px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }

  .fa-instagram {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }
}

@media screen and (max-width: 400px) {
  /* ABOUT ME STYLES */
  .description {
    height: 700px;
  }
}

@media screen and (max-width: 375px) {
  /* ABOUT ME STYLES */
  .description {
    height: 800px;
  }
}